<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mapper.ManagerMapper" >

	<select id="QueryManager" resultType="org.entity.Manager" parameterType="org.entity.Manager">
  		select * from Manager where Mana_Name = #{Mana_Name} and Mana_PWD = #{Mana_PWD}
  	</select>

</mapper>